body {
    font-family: Arial, sans-serif;
    background-image: url('images/dinos.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    text-align: center;
}

#question {
    font-family: 'Comic Sans MS', cursive; /* Example font choice */
    font-size: 1.5rem; /* Adjust font size as needed */
    color: #0277bd; /* Sky-blueish color */
    margin-bottom: 20px;
}

h1 {
    color: #0d47a1;
}

.options {
    margin: 20px 0;
}

.option {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #bbdefb;
    border: 2px solid #0d47a1;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #0d47a1;
    color: #ffffff;
}

.option:focus{
    background-color: #0d47a1;
}

.option.correct {
    background-color: #a5d6a7;
}

.option.incorrect {
    background-color: #ef9a9a;
}

.btn {
    padding: 10px 20px;
    background-color: #0d47a1;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #1565c0;
}


#result {
    /* margin-top: 20px;
    font-size: 1.2em;
    color: red; */
    display: none;
}

.game-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    padding: 0 10px;
    transition: opacity 0.4s ease;
}

.game-modal.show {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.4s 0.4s ease;
}

.game-modal .content {
    padding: 30px;
    max-width: 420px;
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    color: #004d40;
}

.game-modal img {
    max-width: 130px;
    margin-bottom: 20px;
}

.game-modal h4 {
    font-size: 1.53rem;
    color: #004d40;
}

.game-modal p {
    font-size: 1.15rem;
    margin: 15px 0 30px;
    font-weight: 500;
    color: #004d40;
}

.game-modal button {
    padding: 12px 23px;
    background: #26a69a;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 4px;
    text-transform: uppercase;
}

.game-modal button:hover {
    background: #00796b;
}
